:root {
    --col-primary: #ff8d9c;
    --col-white: #faf0e6;
    --col-text: #4e4e4e;
    --col-gold: #f7d690;
    --col-background-1: rgb(228, 128, 115);
    --col-background-2: #ffa080;
    --col-background-3: rgb(233, 175, 166);
  }

@font-face {
    font-family: hellohoney;
    src: url(fonts/hello_honey/hello\ honey.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(180deg, var(--col-background-1) 24%, var(--col-background-1) 65%);
}


#site-wrapper {
    /*
    background-color: red;
    box-shadow: 0 0 50px 2px rgb(55, 55, 55);*/
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.canvas-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 50;
    pointer-events: none;
    top: 0px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

#wedding-canvas {
    width: 100%;
    height: 100vh;
}

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    height: 100vh;
    font-family: 'Cinzel', serif;
    color: var(--col-white);
}
@media screen and (min-width: 780px) {
    .welcome {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        font-family: 'Cinzel', serif;
        color: var(--col-white);
    }
}

.welcome h1 {
    font-family: hellohoney;
    font-size: 14vw;
    font-weight: 500;
    color: var(--col-white);
    display: flex;
    align-items: center;
    flex-basis: 10%;
    z-index: 100;
    animation: float 4s ease-in-out infinite;
}
@media screen and (min-width: 800px) {
    .welcome h1 {
        font-family: hellohoney;
        font-size: 100px;
        font-weight: 500;
    }
}

.welcome > p {
    margin: 1em 2em 1em 2em;
    font-size: 4.6vw;
}
@media screen and (min-width: 300px) {
    .welcome > p {
        margin: 1em 2em 1em 2em;
        font-size: 3.8vw;
    }
}
@media screen and (min-width: 360px) {
    .welcome > p {
        margin: 1em 2em 1em 2em;
        font-size: 3.4vw;
    }
}
@media screen and (min-width: 500px) {
    .welcome > p {
        margin: 1em 2em 1em 2em;
        font-size: 1em;
    }
}

.welcome .date {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    flex-basis: 15%;
}

.date div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    width: 90px;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    /* color: var(--col-primary);
    background-color: transparent; */
    color: var(--col-white);
    /* border-radius: 50%; */
    /* border-bottom: 2px solid var(--col-white); */
}
.date div i {
    color: var(--col-white);
    font-size: 32px;
}
@media screen and (min-width: 500px) {
    .date div {
        font-size: 1em;
    }
}
@media screen and (min-width: 800px) {
    .date div {
        font-size: 1em;
    }
}

.date .day {
    border-left: 1px solid var(--col-white);
    border-right: 1px solid var(--col-white);
}


.welcome .details {

}

.welcome i {
    align-self: center;
    color: var(--col-white);
}

main {
    position: relative;
}

.frame {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 90%;
    top: 5%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: rota 3s linear infinite; */
}

.f1 {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    display: none;
}

.f2 {
    
    display: none;
}
@media screen and (min-width: 780px) {
    .f2 {
        display: flex;
        display: none;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
    .f1 {
        display: flex;
        display: none;
        filter: none;
    }  
}


svg {
    min-height: 600px;
    
    /* border: 1px solid blue;  */
}
@media screen and (min-width: 500px) {
    svg {
        min-height: 1100px;
    }
}

@keyframes rota {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100% { transform: rotate(360deg);}
}

@keyframes float {
    0% { transform: translateY(5%); }
    50% { transform: translateY(-5%); }
    100% { transform: translateY(5%); }
}
