:root {
    --col-primary: #ff8d9c;
    --col-white: #faf0e6;
    --col-text: #4e4e4e;
    --col-gold: #f7d690;
    --col-background-1: rgb(228, 128, 115);
    --col-background-2: #ffa080;
    --col-background-3: rgb(233, 175, 166);
}

@font-face {
    font-family: hellohoney;
    src: url('public/fonts/hellohoney.otf');
}

@font-face {
    font-family: wedding-icons;
    src: url('public/fonts/WeddingIcons.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1em;
    text-align: center;
}

p {
    font-size: 0.8em;
    text-align: center;
}

html {
    background-image: linear-gradient(180deg, var(--col-background-3) 16%, var(--col-background-1) 55%);
    height: fit-content;
    height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;
    width: 100%;
    height: 100dvh;
    min-height: 560px;
    display: flex;
    font-family: 'Cinzel', serif;
    color: var(--col-white);
}

.canvas-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 50;
    pointer-events: none;
    top: 0px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    min-height: 560px;
}

#wedding-canvas {
    width: 100%;
    height: 100vh;
}

.welcome {
    display: flex;
    background: transparent;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: fit-content;
    transition: all 1.2s;

}

.welcome.top {
    top: 0 !important;
}

.welcome .welcome-icon {
    font-family: wedding-icons;
    font-size: 64px;
}

.welcome .welcome-title {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all .5s;
}

.welcome h1 {
    font-family: hellohoney;
    font-size: 14vw;
    font-weight: 500;
    color: var(--col-white);
    display: flex;
    align-items: center;
    flex-basis: 10%;
    padding: 20px 0 20px 0;
    z-index: 100;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(30px 10px 4px #24242434);
}

@media screen and (min-width: 800px) {
    .welcome h1 {
        font-family: hellohoney;
        font-size: 100px;
        font-weight: 500;
    }
}

@keyframes float {
    0% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(5%);
    }
}

.welcome>p {
    margin: 1em 2em 1em 2em;
    font-size: 4.6vw;
    opacity: 1;
    transition: opacity 1s;
}

@media screen and (min-width: 300px) {
    .welcome>p {
        margin: 1em 2em 1em 2em;
        font-size: 3.8vw;
    }
}

@media screen and (min-width: 360px) {
    .welcome>p {
        margin: 1em 2em 1em 2em;
        font-size: 3.4vw;
    }
}

@media screen and (min-width: 500px) {
    .welcome>p {
        margin: 1em 2em 1em 2em;
        font-size: 1em;
    }
}

.welcome>p.transparent {
    opacity: 0;
}

.welcome .date {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    flex-basis: 15%;
    opacity: 1;
    transition: all .5s;
}

.date.transparent {
    opacity: 0;
}

.date div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    width: 90px;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    color: var(--col-white);
    margin-bottom: 40px;
}

.date div i {
    color: var(--col-white);
    font-size: 32px;
}

@media screen and (min-width: 500px) {
    .date div {
        font-size: 1em;
    }
}

@media screen and (min-width: 800px) {
    .date div {
        font-size: 1em;
    }
}

.date .day {
    border-left: 1px solid var(--col-white);
    border-right: 1px solid var(--col-white);
}

main {
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info .details {
    cursor: pointer;
    transition: all .5s;
    align-self: center;
    color: var(--col-white);
}

.info .details:hover {
    scale: 1.14;
}

.info .details p {
    font-size: .8em;
}

.info i {
    align-self: center;
    color: var(--col-white);

}

.info-bar {
    display: flex;
    font-family: wedding-icons;
    flex-direction: row;
    color: var(--col-white);
    font-size: 2em;
    border-radius: 20px;
    border: 1px solid var(--col-white);
    background-color: var(--col-background-3);
    position: relative;
    --translate-btn: 0;
}

.info-bar div {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .14em;
    z-index: 2;
    cursor: pointer;
    transition: all .25s;
}

.info-bar div:hover {
    scale: 1.4;
}

.info-bar .dinner-btn {
    scale: 0.9;
}

.info-bar .dinner-btn:hover {
    scale: 1.1;
}

.info-bar .cake-btn {
    scale: 0.9;
}

.info-bar .cake-btn:hover {
    scale: 1.2;
}

.info-bar::after {
    content: '';
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--col-white);
    background-color: var(--col-background-2);
    width: 1.5em;
    height: 1.5em;
    margin: .14em;
    box-sizing: border-box;
    filter: drop-shadow(2px 1px 3px #535353a2);
    transition: all .5s;
    translate: var(--translate-btn);
}

.info-details-container {
    position: absolute;
    transition: translate 0.8s;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 600px;
    overflow-x: scroll;
    margin-top: 1em;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
    z-index: 200;
}

.info-details-container.start {
    translate: -4em 0;
}

.info-details-section {
    padding: 1em 2em 1em 2em;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

p.info-details-time {
    font-size: 1em;
}

.info-details-section h2 {
    margin-bottom: 1em;
}

.info-table-titles {
    display: flex;
    font-size: 2.5vw;
}

@media screen and (min-width: 550px) {
    .info-table-titles {}
}

.info-table div {
    margin-bottom: 5px;
}

.info-table-titles div {
    padding: 0 5px 0 5px;
    flex-basis: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-table .name {
    padding: 0;
    flex-basis: 40%;
    text-align: left;
    justify-content: start;
    align-items: center;
}


.info-table input {
    text-align: center;
}

.info-table-values {
    display: flex;
}

.info-table-values div {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-table-values div.name {
    flex-basis: 40%;
    justify-content: start;
    font-size: 4vw;
}

@media screen and (min-width: 550px) {
    .info-table-values div.name {
        font-size: 22px;
    }
}

.info-table-values div input {
    accent-color: var(--col-background-2);
    color: #faf0e6;
    color: #BBBBBB;

    background-color: #BBBBBB;
}



/* CHECKBOX */

